<div id=orderitem<?=$NEWITEM?> class="edit_line<?=($ORDERITEM->deleted==1?' del_line':'')?>">
<div class="line_content">
<table>
<?php if($NEWITEM==0):?>
<thead>
<tr>
<td><label></label></td>
<td><label>Номенклатура</label></td>
<td><label>Размер</label></td>
<td><label>Кол-во</label></td> 
<td><label>Цена</label></td> 
<td><label>Сумма</label></td> 
</tr>
</thead>
<?php endif;?>
<tbody>
<tr>
<td>   
   <input type=hidden name=fitems[] id=item_id<?=$NEWITEM?> value="<?=$ORDERITEM->item_id?>">
   <input type=hidden name=frowid[] id=rowid<?=$NEWITEM?>   value="<?=$NEWITEM?>">
   <a href="javascript:changeEditMode(<?=$NEWITEM?>,'edititem','delete','<?=$ORDERITEM->item_id?>')"><img class="<?=($ORDERITEM->deleted==0?'':'hidden')?>" id=btndel<?=$NEWITEM?> src="images/btn-del2.jpg" alt="Удалить строку"></a>
   <?php if($ORDERITEM->item_id!=0):?>
   <a href="javascript:changeEditMode(<?=$NEWITEM?>,'edititem','undelete','<?=$ORDERITEM->item_id?>')"><img id=btnundo<?=$NEWITEM?> class="<?=($ORDERITEM->deleted==0?'hidden':'')?>" src="images/btn-undo.jpg" alt="Отменить удаление"></a>
   <?php endif;?>
   <input type=hidden name=fdeleted[] id=deleted<?=$NEWITEM?> value="<?=$ORDERITEM->deleted?>">
</td>
<td><input type=hidden name=fnmcl_id[] id=fnmcl_id<?=$NEWITEM?> size="20" value="<?=$ORDERITEM->nmcl_id?>">
    <input type=text name=fnmcl_name[] id=item<?=$NEWITEM?> autocomplete="off"  size="20" value="<?=$ORDERITEM->nmcl_name?>" onkeyup = "changeEditMode(<?=$NEWITEM?>,'findnmcl','edit','item<?=$NEWITEM?>')">
    <a href="javascript:changeEditMode(<?=$NEWITEM?>,'findnmcl','edit','item<?=$NEWITEM?>')">
	<span id=ajaxmesfindnmcl<?=$NEWITEM?> style="position:absolute"></span>
	<img src="images/btn-find.jpg" alt="Найти товар"></a>
</td>
<td>
   <select name=fctg_id[]>
	<option value=''> </option>
    <?php foreach($CATEGORY as $id=>$name):?>
	<option value=<?=$id?> <?=($ORDERITEM->ctg_id==$id?'selected':'')?>><?=$name?></option>
	<?php endforeach;?>
   </select>
</td>
<td>
   <input type=text name=fquantity[] id=quantity<?=$NEWITEM?> size="8" value="<?=$ORDERITEM->quantity?>">
</td>
<td>
   <input type=text name=fprice[] id=price<?=$NEWITEM?> size="8" value="<?=$ORDERITEM->price?>">
</td>
<td>
   <input type=text name=famount[] id=amount<?=$NEWITEM?> size="8" value="<?=$ORDERITEM->amount?>" readonly >
</td>
</tr>
</tbody>
</table>
<div id=findnmcl<?=$NEWITEM?>></div>
<div id=ajaxmesedititem<?=$NEWITEM?>></div>
</div>
</div>