<div class=label>
<!--div class="barcode">
<?=$label->label_code?>
</div-->
<div class=barcode>
<img src="lib/code128/ex.php?code=<?=$label->label_code?>">
</div>
<div class="label-code"><?=$label->label_code?></div>
<div class="label-param">
<p><?=$label->thing?>. Арт. <?=$label->alt_code?></p>
<p style="font-size:12px">Цвет:  <?=$label->color_name?></p>
<p style="font-size:12px">Размер:  <?=$label->size_name?>. <?=$label->age?></p>
<p style="font-size:12px">Состав:  <?=$label->composition?></p>
</div>
</div>