<div class=label>
<!--div class="barcode">
<?=$label->label_code?>
</div-->
<div class=barcode>
<img src="lib/code128/ex.php?code=<?=$label->label_code?>&size=60" />
</div>
<div class="label-code" style="font-size: 14px; margin-top:3px;margin-bottom:3px"><?=$label->label_code?></div>
<div class="label-param">
<p style="font-size:10px"><?=$label->thing?></p>
<p style="font-size:10px">cостав:  <?=$label->composition?> <img style = "float:right" src="images/jarlyki.jpg"/></p>
<p style="font-size:10px">арт. <?=$label->alt_code?>. размер:  <?=$label->size_name?></p>
<p style="font-size:10px">страна производства: РФ</p>
<p style="font-size:10px">изготовитель: <?=$company?> <img style = "float:right" src="images/eac.jpg"/></p>
<p style="font-size:10px">дата изготовления: <?=$label->prod_date?></p>
<p style="font-size:10px">адрес изготовления: г.Москва,</p>
<p style="font-size:10px"><?=$company_address?></p>
</div>
</div>