#noti_bar{position:fixed;top:0;text-align:center;z-index:9000;width:100%; background: none repeat scroll 0 0 transparent; display:none;
}
.noti-show{
 display:block;
}
.notification {
  background: none repeat scroll 0 0 #fdf5d9;
  border: 1px solid #d4c483;
  border-radius: 0 0 12px 12px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 5px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 5px, inset rgba(255,255,255,0.4) 0 0px 0;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.75) inset, 0px 2px 4px rgba(0, 0, 0, 0.65);
  color: #404040;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  min-height: 20px;
  padding: 16px;
  padding-right:42px;
  position: relative;
  min-width:20%;
  max-width:50%;
  margin:auto;
  display:inline-block;
}
.notification:after, .notification:before {
  border: medium solid transparent;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.notification:after {
  border-top-color: #fdf5d9;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.notification:before {
  border-top-color: #d4c483;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}
.visuallyhidden{
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.notification a.closeLink {
  background: url("im/apex_ui.png") no-repeat scroll -80px -728px rgba(0, 0, 0, 0);
  height: 20px;
  margin: 12px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
a.closeLink {
  background: url("im/apex_ui.png") no-repeat scroll -80px -728px rgba(0, 0, 0, 0);
  height: 20px;
  margin: 22px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
a.order-button {
  color: #ffffff;
  font-family: helvetica,serif;
  font-size: 1em;
  font-style: normal;
  text-decoration: none;
  text-shadow: 0 1px 0 #550000;
}
.notification img{
  display:inline-block;
  vertical-align:middle;
  }
.noti-message{ color:#810000; text-decoration:none; border:none;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-left:20px; margin-right:20px
  }